<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<h3> My Cocktails list : </h3>
<%= @cocktails.each do |f| %>
  <%= f %>
  <%= link_to "#{f}", cocktail_path(f)  %><button type="button" class="btn" >See more</button>
<% end %>
